@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

/*******************************General**************************************/
* {
	margin: 0;
	box-sizing: border-box;
	padding:0;
}

body {
	margin:0px;
	background:#A993FF;
}

/*****************************Desktop Version***************************************
/***********************************************************************************/
@media not all and (max-width: 800px) {

   /******************Header *****************/ 
	.buttonpoint {display:none;}
    .buttonlabel {display: none;}
	h2 {display:none;}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background:#791B99;
		width: 100%;
		height: 12vw;
		font-family: 'Quattrocento', serif;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
	}

	header h1 img {
	width:10vw;
	height: 10vw;
	}

	h1 {
		display: flex;
		align-items: center;
		font-family: 'Quattrocento', serif;
		font-size:2.5vw;
		color:white;
		font-weight: normal;
		text-align: left;
		padding:15px 15px 15px;
		margin-bottom: 1.5em;

	}

	.pages {
		display: flex;
		list-style: none;
		font-size:2.5vw;
		margin:0;
	}

	.list{
		margin-left: 5px;
		margin-right:5px;
		padding:15px 10px 15px;
		margin-bottom: 1.7em;
	}

	.list a {
		color:white;
		text-decoration: none;
	}

	.list:hover {
		transform:scale(1.1);
	}

	/*********************Content*******************************/

	/******************************Slogans*******/
	.Slog {
		position: relative;
		align-items: center;
		background:white;
		width: 96%;
		margin-left:2%;
		margin-right:2%;
		margin-top:3%;
		height: 40vw;
		font-family: 'Quattrocento', serif;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
	}
	

	.slog_img {
	    width:100%;
        height:100%;
        object-fit: cover;
	}

	.slogs  {
		font-family: 'Quattrocento Sans', sans-serif;
	    font-size:4vw;
	    font-weight:bold;
		color:#A993FF;
        position: absolute;
        left: 5%;
        top:10%;
        width:65%;
        transition:all 1s;
        word-wrap: break-word;
    } 


    .mainContent {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content:flex-start;
    }
    .Study {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		background:white;
		width: 46%;
		margin-left:2%;
		margin-right:2%;
		margin-top:3%;
		height: 40vw;
		font-family: 'Quattrocento', serif;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
	}

	.Study_img{
		width:100%;
		height:35vw;
	}


	.study_research_label{
		font-family: 'Quattrocento + Sans',  serif;
		font-weight: normal;
		text-align: left;
        transition: all 1s;
	}

    .study_research_label:hover {
    	transform: scale(1.05);
    }


	.study_research_label a {
		display:flex;
		width: 95%;
		margin-left: 5%;
		height:3vw;
		text-decoration: none;
		font-size:3vw;
		color:#9A55B2;
	}

	.Quotes {
		display:flex;
		justify-content: space-between;
		align-items: center;
		background:white;
		width: 96%;
		margin-left:2%;
		margin-right:2%;
		margin-top:3%;
		height: 30vw;
		font-family: 'Quattrocento', serif;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
	}

	.Quotes_text {
		width:65%;
		font-size:2.5vw;
		padding:1em;
	}

	.quotes_a {
		display: flex;
		justify-content: flex-end;
		font-size:1.5vw;
		margin-top:10%;
	}

	.Quotes_img {
		height:30vw;
		width:30vw;
	}

	.newText {
		padding: 0.2em;
		text-decoration: none;
		color: #9A55B2;
		font-size:1.5vw;
	}

	.newText strong {
		font-size:1.8vw;
	}

	.Newsm {
		position: relative;
		align-items: center;
		background:white;
		width: 29%;
		margin-left:2.25%;
		margin-right:2%;
		margin-top:3%;
		margin-bottom:3%;
		height: 30vw;
		font-family: 'Quattrocento', serif;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;

		} 

    .News_img {
    	height:20vw;
    	width:100%;
    }

    .footer {
		display:flex;
		justify-content: space-between;
		align-items:center;
		background:#791B99;
		width: 100%;
		font-family: 'Quattrocento', serif;
		transition:all 1s;
		height:12vw;
	}

	.footer h1 {
		font-family: 'Quattrocento', serif;
	    font-size:2.5vw;
		color:white;
		font-weight: normal;
		text-align: left;
		padding:15px;
		margin:0;
		transition:all 1s;
	}

	.footer ul{
		align-items:center;
		width:20%;
		padding:1em;
		list-style:none;
	}

	.footerhdiv {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width:78%;
		text-align:right;
		height:90%;
		padding-right: 2%;
	}


	.footer ul li a{
		color: white;
		text-decoration: none;
		padding: 10px;
		transition:all 1s;
		font-family: 'Quattrocento', serif;
	    font-size:2.5vw;
	}

	.footer ul li {
		width:95%;
	}

	.footer ul li:hover {
		transform:scale(1.05);
	}
}

/**************************** Mobile Version****************************************/
@media screen and (max-width: 800px){

	/******************Header ****************/ 
	h1 {display: none}
	.buttonpoint {display:block;}
    .buttonlabel {display: block;}
	h2 {display:block;}

	header {
		display:flex;
		justify-content: space-between;
	    word-wrap: break-word;
		background:#791B99;
		width: 100%;
		font-family: 'Quattrocento', serif;
		transition:all 1s;
		margin-bottom:5px;
		margin-left: 0.1%;
		box-shadow: 0px 3px 3px #9A55B2;
		height: auto;
	}

    header h2 {
		display: flex;
		font-family: 'Quattrocento', serif;
	    font-size:4vw;
		color:white;
		font-weight: normal;
		text-align: left;
		padding:20px 15px 15px;
    }

    header h2 img {
	width:10vw;
	height: 10vw;
	}

	/*NAV BUTTON*/
	.buttonl {
		width:8vw;
		height:1vw;
		background-color: white;
		margin:1vw;
		margin-top: 1.5vw;
		display:block;
	}



	.buttonlabel {
	    position: absolute;
	    top: 2.5%;
	    right: 5%;
	    cursor: pointer;
    }

    .buttonpoint {display:none;}

    .buttonpoint:checked ~ nav {
	    display:block;
    }

    /*MENU*/
    .menu {
	    text-align: right;
		margin-top: 5em;
		margin-right:3%;
		background:#791B99;
		width:100%;
		display: none;
    }

	.pages{
		margin-top: 10px;
		padding:0;
		list-style: none;
	}

    .list:hover {
		transform:scale(1.03);
    }

    .list{
		margin-bottom:1em;
		margin-right:1em;
		border-bottom: 4px;
		transition:all 1s;
    }

    .list a {
		color:white;
		text-decoration: none;
		font-size: 3vw;
    }
    /*Content*****************************************************/
    .mainContent {
    	display: flex;
    	flex-wrap:wrap;
    }
	/*************************************************Slogans*/
	.Slog {
    	position: relative;
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
		background:#A993FF;
		width: 100%;
		margin-left:0;
		margin-right:0;
		margin-top:0%;
		height: 100vw;
		transition:all 1s;
	}

	.slog_img {
	    width:95%;
        object-fit: cover;
        box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
		position: relative;
		margin-top: 3%;
        height:70%;
	}

	.slogs  {
		position: relative;
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 4vw;
		color:black;
        position: relative;
        margin-top:3%;
        width:80%;
    }

    /************************************study&**********************/
    .Study {
    	position: relative;
    	display: flex;
    	flex-wrap:wrap;
    	justify-content: center;
		background:#A993FF;
		width: 100%;
		margin-left:0%;
		margin-right:0%;
		margin-top:10%;
		height: 80vw;
		transition:all 1s;
	}

	.Study_img {
		width:95%;
		height:65vw;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
	}


	.study_research_label  {
		font-family: 'Quattrocento Sans', sans-serif;
		font-size:100em;
		font-size:10vw;
		color:white;
        position: relative;
        left: 5%;
        transition:all 1s;
        width:80%;
    }

    .study_research_label a { 
    	text-decoration: none;
		color:white;
    }

    .study_research_label:hover {
    	transform: scale(1.1);
    }

    .Quotes {
    	display: flex;
    	flex-wrap:wrap;
    	justify-content: center;
		background:#A993FF;
		width: 100%;
		height: 70vw;
		transition:all 1s;
		margin-top:30%;
    }

    .Quotes_text {
    	display: flex;
    	justify-content: center;
    	flex-wrap:wrap;
    	width:90%;
    	height:60%;
    	font-size:10vw;

    }

    .quotes_a {
    	width:100%;
    	height:40%;
    	display: flex;
    	flex-wrap:wrap;
    	justify-content: flex-end;
    	font-size:5vw;
    	margin-top: 10%;

    }

    .Quotes_img {
    	display: none;
    }

    .Newsm  {
    	position: relative;
    	display: flex;
    	flex-wrap:wrap;
		background:white;
		width: 90%;
		margin-left:5%;
		margin-right:5%;
		margin-bottom: 5%;
		height: 80vw;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
    }

    .newText {
		padding: 0.2em;
		text-decoration: none;
		color: #9A55B2;
		font-size:3vw;
		margin-left: 2%;
	}

	.newText strong {
		font-size:5vw;
	}

    .News_img {
    	height:60vw;
    	width:100%;
    }
    .footer {
		display:flex;
		justify-content: space-around;
	    word-wrap: break-word;
		background:#791B99;
		width: 100%;
		font-family: 'Quattrocento', serif;
		transition:all 1s;
		height:auto;
	}

	.footer h2 {
		font-family: 'Quattrocento', serif;
	    font-size:4vw;
		color:white;
		font-weight: normal;
		text-align: left;
		padding:10px 15px 15px;
		transition:all 1s;
	}

	.footer ul{
		align-items:center;
		width:40%;
		padding:1em;
		list-style:none;
	}

	.footerhdiv {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width:50%;
		text-align:right;
		padding-top: 1em;
	}


	.footer ul li a{
		color: white;
		text-decoration: none;
		padding: 1vw;
		transition:all 1s;
		font-family: 'Quattrocento', serif;
	    font-size:4vw;
	}

	.footer ul li:hover {
		transform:scale(1.1);
	}
}

