@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

/*******************************General**************************************/
* {
	margin: 0;
	box-sizing: border-box;
	padding:0;
}

body {
	margin:0;
	background:#A993FF;
}


/*****************************Desktop Version****************************************/
/***********************************************************************************/
@media not all and (max-width: 800px){
	.mainContent p {
		display:none;
	}

	.project1 p {
		display: none;
	}


   /******************Header *****************/ 
	.buttonpoint {display:none;}
    .buttonlabel {display: none;}
	h2 {display:none;}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background:#791B99;
		width: 100%;
		height: 12vw;
		font-family: 'Quattrocento', serif;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
		margin-bottom:3%;
	}

	header h1 img {
	width:10vw;
	height: 10vw;
	}

	h1 {
		display: flex;
		align-items: center;
		font-family: 'Quattrocento', serif;
		font-size:2.5vw;
		color:white;
		font-weight: normal;
		text-align: left;
		padding:15px 15px 15px;
		margin-bottom: 1.5em;
	}

	.pages {
		display: flex;
		list-style: none;
		font-size:2.5vw;
		margin:0;
	}

	.list{
		margin-left: 5px;
		margin-right:5px;
		padding:15px 10px 15px;
		margin-bottom: 1.7em;
	}

	.list a {
		color:white;
		text-decoration: none;
	}

	.list:hover {
		transform:scale(1.1);
	}

	/*********************Content*******************************/

    .mainContent strong{
		font-size: 5vw;
		margin:5%;
		color:white;
	}
	
	.project1 {
		display: flex;
		justify-content: space-between;
		width:100%;
		height:30vw;
		margin-bottom:4em;
		margin-top: 4vw;
		transition:all 1s;
	}

	.project22 {
		display: none;
	}

	.project1_img {
		margin-left: 5em;
		margin-right:5em;
		height:25vw;
		width:38%;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
	}

	.project1_text_div {
		width:50%;
		padding-left: 4em;
		padding-right: 3em;
		font-size: 2vw;
		color:white;
	}

	.project1_text_div strong {
		font-size: 4vw;
	}

	/*********************footer********************************/
    .footer {
		display:flex;
		justify-content: space-between;
		align-items:center;
		background:#791B99;
		width: 100%;
		font-family: 'Quattrocento', serif;
		transition:all 1s;
		height:12vw;
	}

	.footer h1 {
		font-family: 'Quattrocento', serif;
	    font-size:2.5vw;
		color:white;
		font-weight: normal;
		text-align: left;
		padding:15px;
		margin:0;
		transition:all 1s;
	}

	.footer ul{
		align-items:center;
		width:20%;
		padding:1em;
		list-style:none;
	}

	.footerhdiv {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width:78%;
		text-align:right;
		height:90%;
		padding-right: 2%;
	}

	.footer ul li a{
		color: white;
		text-decoration: none;
		padding: 10px;
		transition:all 1s;
		font-family: 'Quattrocento', serif;
	    font-size:2.5vw;
	}

	.footer ul li {
		width:95%;
	}

	.footer ul li:hover {
		transform:scale(1.05);
	}
}

/**************************** Mobile Version****************************************/
/***********************************************************************************/
@media screen and (max-width: 800px){
	.project1_text_div strong {
		display: none;
	}

	/******************Header ****************/ 
	h1 {display: none}
	.buttonpoint {display:block;}
    .buttonlabel {display: block;}
	h2 {display:block;}

	header {
		display:flex;
		justify-content: space-between;
	    word-wrap: break-word;
		background:#791B99;
		width: 100%;
		font-family: 'Quattrocento', serif;
		transition:all 1s;
		margin-bottom:5px;
		margin-left: 0.1%;
		box-shadow: 0px 3px 3px #9A55B2;
		height: auto;
	}

    header h2 {
    	display: flex;
		font-family: 'Quattrocento', serif;
	    font-size:4vw;
		color:white;
		font-weight: normal;
		text-align: left;
		padding:20px 15px 15px;
    }

    header h2 img {
	width:10vw;
	height: 10vw;
	}

	/*NAV BUTTON*/
	.buttonl {
		width:8vw;
		height:1vw;
		background-color: white;
		margin:1vw;
		margin-top: 1.5vw;
		display: block;
	}

	.buttonlabel {
	    position: absolute;
	    top: 2.5%;
	    right: 5%;
	    cursor: pointer;
    }

    .buttonpoint {display:none;}

    .buttonpoint:checked ~ nav {
	    display:block;
    }

    /*MENU*/
    .menu {
	    text-align: right;
		margin-top: 5em;
		margin-right:3%;
		background:#791B99;
		width:100%;
		display: none;
    }

	.pages{
		margin-top: 10px;
		padding:0;
		list-style: none;
	}

    .list:hover {
		transform:scale(1.03);
    }

    .list{
		margin-bottom:1em;
		margin-right:1em;
		border-bottom: 4px;
		transition:all 1s;
    }

    .list a {
		color:white;
		text-decoration: none;
		font-size: 3vw;
    }
    /******************************Content************************/
    .mainContent {
    	display: flex;
    	flex-wrap:wrap;
    }

    .mainContent strong {
    	color: white;
    	font-size:10vw;
    	margin-left: 5%;
    }

	/******************************Slogans***********************/
	.project1 {
    	position: relative;
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
		background:#A993FF;
		width: 100%;
		margin-left:0;
		margin-right:0;
		margin-top:5%;
		height: 100vw;
		transition:all 1s;
	}

	.project2 {
		display: none;
	}

	.project1 p {
		width:90%;
		display: flex;
		justify-content: flex-end;
		font-size:8vw;
		color:white;
		padding:0;
		height: 1vw;
		font-weight:bold;
	}

	.project1_img {
		width:90%;
		height:35vw;
		box-shadow: 0px 3px 8px #9A55B2;
		transition:all 1s;
	}

	.project1_text_div {
		position: relative;
		display: flex;
		justify-content: center;
		font-size:4.5vw;
		margin-top: -10%;
		width:90%;
	}

    .footer {
		display:none;
	}
}